.basket-container {
  position: fixed;
  width: 45%;
  height: 90%;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 100;
  border: 0.1875rem solid #000000;
  border-radius: 1rem;
  margin-top: 4rem;
  background-color: #fff;
  max-height: 40rem;
  overflow-y: auto;
}

.basket-container .icon {
  color: #b6adc3;
}

.basket-header {
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket-title-header {
  font-size: 1rem;
  font-weight: bold;
  color: #b6adc3;
}

.basket-content {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  column-gap: 1.5rem;
}

.basket-image-container {
  margin-right: 1rem;
}

.basket-image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.basket-title {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  color: #b6adc3;
}

.counter-container {
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
}

.counter-container .meter-icon {
  cursor: pointer;
  color: #b6adc3;
}

.counter-container:hover {
  background-color: #fff;
  color: #000;
}

.meter-icon {
  cursor: pointer;
}

.counter-value {
  margin: 0 0.625px;
  font-size: 1rem;
}

.basket-button {
  margin-left: auto;
}

.basket-btn {
  padding: 5px 10px;
  background-color: #b6adc3;
  color: #000;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.basket-price {
  font-weight: bold;
  color: #b6adc3;
  font-size: 1rem;
}

.total-price {
  margin-top: 1.25rem;
  text-align: right;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #b6adc3;
  border-radius: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-price p {
  text-align: center;
}

.total-price:hover {
  background-color: #000000;
  color: #b6adc3;
}

/* Responsive CSS for Basket Component */

@media (max-width: 768px) {
  .basket-container {
    width: 60%;
    height: 70%;
  }

  .basket-content {
    padding: 15px 0;
  }

  .basket-image {
    max-width: 150px;
  }

  .basket-title {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .basket-container {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    margin: 0;
  }

  .basket-container .icon {
    font-size: 1.5rem;
  }

  .basket-title-header {
    font-size: 1.2rem;
  }

  .basket-content {
    padding: 20px 0;
    border-bottom: 1px solid #b6adc3;
    align-items: center;
    column-gap: 2rem;
  }

  .basket-image-container {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .basket-image {
    width: 50%;
    height: auto;
    max-width: 200px;
  }

  .basket-title {
    text-align: center;
    margin-top: 0.5rem;
  }

  .basket-button {
    margin-left: 0;
    margin-top: 1rem;
  }

  .basket-btn {
    width: 100%;
  }

  .total-price {
    margin-top: 2rem;
    text-align: center;
  }
}
