.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.paginate li {
  margin: 0.3rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  cursor: pointer;
}

.category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
