.navbar-top {
  font-size: 1.25rem;
  color: #fff;
  background-color: #b6adc3;
  padding: 1.25rem;
  text-align: center;
  border-top: 0.0625rem solid #dee0ea;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
}

.navbar-left {
  margin-left: 2.5rem;
  font-weight: bold;
  font-size: 2rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  padding: 1.25rem;
  margin-right: 5rem;
}

.navbar-input {
  border: 0.125rem solid #b6adc3;
  outline: none;
  border-radius: 1.25rem;
  padding: 0.625rem;
  width: 15.625rem;
}

.icon {
  cursor: pointer;
}

.basket {
  position: relative;
}

.basket-quantity {
  background-color: #b6adc3;
  color: #fff;
  font-size: 1rem;
  padding: 0.125rem;
  border-radius: 100%;
  position: absolute;
  top: -0.625rem;
  left: 1.375rem;
}

.logout {
  cursor: pointer;
}

/* Responsive CSS for Header Component */

@media (max-width: 768px) {
  .navbar-center {
    /* display: none; */
  }

  .basket {
    margin-right: 1rem;
  }
}

@media (max-width: 576px) {
  .navbar {
    align-items: center;
    justify-content: center;
    column-gap: 0.7rem;
  }

  .navbar-left,
  .navbar-center,
  .navbar-right {
    width: 100%;
  }

  .navbar-right {
    margin-top: 1rem;
  }

  .basket {
    margin-right: 0;
  }

  .icon {
    font-size: 0.8rem;
  }
}
